<div class="cbp-loadMore-block1">

    <div class="web-design cbp-item">
        <a href="assets/ajax/project10.html" class="cbp-caption cbp-singlePageInline" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/work-1.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="motion web-design cbp-item">
        <a href="assets/ajax/project11.html" class="cbp-caption cbp-singlePageInline" data-title="Music Player<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/work-2.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Music Player</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>


<div class="cbp-loadMore-block2">

    <div class="print cbp-item">
        <a href="assets/ajax/project12.html" class="cbp-caption cbp-singlePageInline" data-title="Speed Detector<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/work-3.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Speed Detector</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="motion web-design cbp-item">
        <a href="assets/ajax/project13.html" class="cbp-caption cbp-singlePageInline" data-title="Sonor Website<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/work-4.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Sonor Website</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
