<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image001.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            3M Static Control

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://solutions.3m.com/wps/portal/3M/en_US/Static/Home/" target="_blank">
                http://solutions.3m.com/wps/portal/3M/en_US/Static/Home/
            </a>

        </div>
        <div class="cbp-l-inline-desc">

This newly added franchise line
includes a vast array of products that include static control bags, mats,
laminates, ground cords, packaging &amp; accessories, flooring, wrist straps,
heel grounders, containers, covers, monitors, vacuums, instrumentation, &amp;
ionization equipment.3M Electronic Solutions DivisionÕs, Static Control
Business is a global leader in static protection, offering a full range of
solutions designed to help electronic products manufacturers develop and
maintain complete static control programs that meet the challenge of
electrostatic discharge (ESD) control.

        </div>

        <a href="#rapidquote" onclick="rapidquote('3M Static Control'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>