<div class="cbp-loadMore-block1">

    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/mas-3.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="assets/ajax-masonry/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="assets/images/mas-3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Mountaineer<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <a  href="assets/ajax-masonry/project1.html" class="cbp-l-grid-masonry-projects-title cbp-singlePage">Mountaineer</a>
        <div class="cbp-l-grid-masonry-projects-desc">graphic / logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/work-3.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="assets/ajax-masonry/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="assets/images/work-3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Timezone Mgmt<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <a  href="assets/ajax-masonry/project1.html" class="cbp-l-grid-masonry-projects-title cbp-singlePage">Timezone Mgmt</a>
        <div class="cbp-l-grid-masonry-projects-desc">graphic / logo</div>
    </div>
    <div class="identity logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/mas-2.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="assets/ajax-masonry/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="assets/images/mas-2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Archiview<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <a  href="assets/ajax-masonry/project1.html" class="cbp-l-grid-masonry-projects-title cbp-singlePage">Archiview</a>
        <div class="cbp-l-grid-masonry-projects-desc">graphic / logo</div>
    </div>
    <div class="identity web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/mas-1.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="assets/ajax-masonry/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="assets/images/mas-1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Website Lightbox<br>by Paul Flavius Nechita">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <a  href="assets/ajax-masonry/project1.html" class="cbp-l-grid-masonry-projects-title cbp-singlePage">Website Lightbox</a>
        <div class="cbp-l-grid-masonry-projects-desc">identity</div>
    </div>

</div>



<div class="cbp-loadMore-block2">

    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/work-8.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="assets/ajax-masonry/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="assets/images/work-8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Shopping Gallery<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <a  href="assets/ajax-masonry/ajax-masonry/project1.html" class="cbp-l-grid-masonry-projects-title cbp-singlePage">Shopping Gallery</a>
        <div class="cbp-l-grid-masonry-projects-desc">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/images/work-7.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="assets/ajax-masonry/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="assets/images/work-3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Story Book<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <a  href="assets/ajax-masonry/project2.html" class="cbp-l-grid-masonry-projects-title cbp-singlePage">Story Book</a>
        <div class="cbp-l-grid-masonry-projects-desc">Graphic / Logo</div>
    </div>

</div>
