<div class="cbp-l-inline">
    <div class="cbp-l-inline-full-size">
        <div class="cbp-l-inline-title">

            Batteries

        </div>
        <div class="cbp-l-inline-subtitle">
            Factory direct relationships:
        </div>
        <div class="cbp-l-inline-desc">

<ul class="category-list">
<li>Cham</li>
<li>Duracell</li>
<li>EVE</li>
<li>Evergreen</li>
<li>House of Batteries</li>
<li>Interstate</li>
<li>Kayo</li>
<li>Panasonic</li>
<li>Renata</li>
<li>Seiko</li>
<li>Sony</li>
<li>Varta</li>
<li>Xeno</li>
</ul>

            <div class="clear"></div>
        </div>

        <a href="#rapidquote" onclick="rapidquote('Batteries'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>