<div class="cbp-l-inline">
    <div class="cbp-l-inline-full-size">
        <div class="cbp-l-inline-title">

            Capacitors

        </div>
        <div class="cbp-l-inline-subtitle">
            Factory direct relationships:
        </div>
        <div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Cal-Chip</li>
<li>Cooper Industries</li>
<li>Illinois Capacitor</li>
<li>Novacap</li>
<li>Samwha</li>

</ul>

            <div class="clear"></div>
        </div>

        <a href="#rapidquote" onclick="rapidquote('Capacitors'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>