<div class="cbp-l-inline">
    <div class="cbp-l-inline-full-size">
        <div class="cbp-l-inline-title">

            Connectors

        </div>
        <div class="cbp-l-inline-subtitle">
            Factory direct relationships:
        </div>
        <div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Adam Tech</li>
<li>Aero-Electric</li>
<li>Amphenol Aerospace</li>
<li>Blockmaster</li>
<li>Chogori USA</li>
<li>Conesys</li>
<li>Corsair</li>
<li>Fischer</li>
<li>Glenair</li>
<li>Joslyn Sunbank</li>
<li>Keystone</li>
<li>Norcomp</li>
<li>Oupiin</li>
<li>Pacer</li>
<li>Samtec</li>

</ul>

            <div class="clear"></div>
        </div>

        <a href="#rapidquote" onclick="rapidquote('Connectors'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>