<div class="cbp-l-inline">
    <div class="cbp-l-inline-full-size">
        <div class="cbp-l-inline-title">

            Crystals, Oscillators &amp; Filters

        </div>
        <div class="cbp-l-inline-subtitle">
            Factory direct relationships:
        </div>
        <div class="cbp-l-inline-desc">

<ul class="category-list">

<li>ECS</li>
<li>ILSI</li>
<li>Taisaw</li>

</ul>

            <div class="clear"></div>
        </div>

        <a href="#rapidquote" onclick="rapidquote('Crystals, Oscillators &amp; Filters'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>