<div class="cbp-l-inline">
    <div class="cbp-l-inline-full-size">
        <div class="cbp-l-inline-title">

            Diodes &amp; Transistors

        </div>
        <div class="cbp-l-inline-subtitle">
            Factory direct relationships:
        </div>
        <div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Comchip</li>
<li>Good-Ark Semi</li>
<li>SMC</li>
<li>Solid State Inc</li>
<li>Taiwan Semiconductor</li>

</ul>

            <div class="clear"></div>
        </div>

        <a href="#rapidquote" onclick="rapidquote('Diodes &amp; Transistors'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>