<div class="cbp-l-inline">
    <div class="cbp-l-inline-full-size">
        <div class="cbp-l-inline-title">

            Displays

        </div>
        <div class="cbp-l-inline-subtitle">
            Factory direct relationships:
        </div>
        <div class="cbp-l-inline-desc">

<ul class="category-list">

<li>AUO</li>
<li>EDT – Emerging Display</li>
<li>ELO Touch</li>
<li>Electronic Assembly</li>
<li>Futaba</li>
<li>General Touch</li>
<li>Hantronix</li>
<li>Innolux</li>
<li>Newhaven Display</li>
<li>Raystar</li>

</ul>

            <div class="clear"></div>
        </div>

        <a href="#rapidquote" onclick="rapidquote('Displays'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>