<div class="cbp-l-inline">
    <div class="cbp-l-inline-full-size">
        <div class="cbp-l-inline-title">

            Embedded Products

        </div>
        <div class="cbp-l-inline-subtitle">
            Factory direct relationships:
        </div>
        <div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Advansus</li>
<li>ATP Electronics</li>
<li>Crucial</li>
<li>General Touch</li>
<li>InnoDisk</li>
<li>Kontron</li>
<li>Lenovo</li>
<li>Renice</li>
<li>Smart Modular</li>
<li>Touchstone Technology</li>
<li>Transcend</li>
<li>Unigen</li>

</ul>

            <div class="clear"></div>
        </div>

        <a href="#rapidquote" onclick="rapidquote('Embedded Products'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>