<div class="cbp-l-inline">
	<div class="cbp-l-inline-full-size">
		<div class="cbp-l-inline-title">

			Fans

		</div>
		<div class="cbp-l-inline-subtitle">
			Factory direct relationships:
		</div>
		<div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Jaro Thermal</li>
<li>Orion</li>
<li>YS Tech</li>

</ul>

			<div class="clear"></div>
		</div>

		<a href="#rapidquote" onclick="rapidquote('Fans'); return false;"
			class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

	</div>
</div>