<div class="cbp-l-inline">
	<div class="cbp-l-inline-full-size">
		<div class="cbp-l-inline-title">

			Magnetics

		</div>
		<div class="cbp-l-inline-subtitle">
			Factory direct relationships:
		</div>
		<div class="cbp-l-inline-desc">

<ul class="category-list">

<li>CET</li>
<li>Coilcraft</li>
<li>OleWolff</li>
<li>Signal</li>
<li>Wurth</li>

</ul>

			<div class="clear"></div>
		</div>

		<a href="#rapidquote" onclick="rapidquote('Magnetics'); return false;"
			class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

	</div>
</div>