<div class="cbp-l-inline">
	<div class="cbp-l-inline-full-size">
		<div class="cbp-l-inline-title">

			Relays

		</div>
		<div class="cbp-l-inline-subtitle">
			Factory direct relationships:
		</div>
		<div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Finder</li>
<li>Goodsky</li>
<li>Hongfa</li>
<li>Zettler</li>

</ul>

			<div class="clear"></div>
		</div>

		<a href="#rapidquote" onclick="rapidquote('Relays'); return false;"
			class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

	</div>
</div>