<div class="cbp-l-inline">
	<div class="cbp-l-inline-full-size">
		<div class="cbp-l-inline-title">

			Resistors

		</div>
		<div class="cbp-l-inline-subtitle">
			Factory direct relationships:
		</div>
		<div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Aeroflex KDI</li>
<li>Kanthal Globar</li>

</ul>

			<div class="clear"></div>
		</div>

		<a href="#rapidquote" onclick="rapidquote('Resistors'); return false;"
			class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

	</div>
</div>