<div class="cbp-l-inline">
	<div class="cbp-l-inline-full-size">
		<div class="cbp-l-inline-title">

			Wireless, RF &amp; Microwave

		</div>
		<div class="cbp-l-inline-subtitle">
			Factory direct relationships:
		</div>
		<div class="cbp-l-inline-desc">

<ul class="category-list">

<li>Digi</li>
<li>Linx Technologies</li>
<li>Quatech</li>
<li>RF Micro Devices</li>
<li>WP Wireless</li>

</ul>

			<div class="clear"></div>
		</div>

		<a href="#rapidquote" onclick="rapidquote('Wireless, RF &amp; Microwave'); return false;"
			class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

	</div>
</div>