<div class="cbp-l-inline">
    <!-- <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/services/image001.png" alt="">

        </div>
    </div> -->

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            Engineering and Design Support

        </div>
        <div class="cbp-l-inline-subtitle">

            <!-- <a href="http://solutions.3m.com/wps/portal/3M/en_US/Static/Home/" target="_blank">
                http://solutions.3m.com/wps/portal/3M/en_US/Static/Home/
            </a> -->

        </div>
        <div class="cbp-l-inline-desc">

With over 50 years of combined experience and knowledge in the industry, the MIT design team is committed to designing and delivering products to fit our client’s vision and requirements.   We offer a complete range of Engineering Design Services to address all aspects of the product lifecycle.  Let us help you deliver your engineering projects cost-effectively and on-time.

        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>