<div class="cbp-l-inline">

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            Long Term Contracts

        </div>
        <div class="cbp-l-inline-subtitle">
        </div>
        <div class="cbp-l-inline-desc">

<p>If you regularly source products from the same supplier, then it can often be of benefit for both sides, to set up a long-term agreement.</p>
<p>Advantages of partnering with MIT Distributors include:</p>
<ul>
<li>planning ahead is easier</li>
<li>providing security of supply, for the buyer, and of orders for the supplier</li>
<li>pre-agreed pricing formula – predictable prices</li>
<li>the buyer can get a better price in return for the commitment</li>
<li>less admin – you don’t have to maintain purchase orders over and over again</li>
</ul>


        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>