<div class="cbp-l-inline">

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            Bonded Material Programs

        </div>
        <div class="cbp-l-inline-subtitle">
        </div>
        <div class="cbp-l-inline-desc">

<p>Our customers currently enjoy the benefits of bonded inventory programs thru MIT Distributors In these arrangements, MIT continues to store the inventory within our central warehouses but the inventory is electronically segregated within our systems and reserved specifically for you.</p>

<p>Because the inventory is stored in a designated warehouse, we can manage the safety buffers dynamically without the need for unnecessary transportation and inventory build-ups.</p>

<p>Customers that partner with MIT on a bonded inventory program enjoy the following benefits.</p>

<ul>
<li>Reductions in inventory carrying costs</li>
<li>Improved cash-to-cash cycle times</li>
<li>Greater security in supply</li>
</ul>


        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>