<div class="cbp-l-inline">

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            Global Sourcing Capabilities

        </div>
        <div class="cbp-l-inline-subtitle">
        </div>
        <div class="cbp-l-inline-desc">

<p>Sourcing electronic components from reliable, trustworthy and professional suppliers can be a frustrating process, especially when you have production schedules to meet. As a stocking distributor of electronic components, MIT Distributors has global supply and sourcing capabilities.  With our electronic component sourcing teams and warehouses in the Americas and Asia we can find and ship you the components you need, when and where you need them.</p>

        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>