<div class="cbp-l-inline">

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            Kitting Services

        </div>
        <div class="cbp-l-inline-subtitle">
        </div>
        <div class="cbp-l-inline-desc">

<p>MIT Distributors offers kitting services. Customers are benefiting by trimming turn-around time and reducing internal workloads. The key benefit is producing immediate results to our customer’s bottom line. Our kitting program utilizes the complete resources and capabilities of our organization to ensure that we operate as a program management hub that delivers the final product as required by our customers.  If you have a quick turn build or would like to experience these benefits, we can help.</p>

        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>