<div class="cbp-l-inline">

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            EOL and LTB Planning

        </div>
        <div class="cbp-l-inline-subtitle">
        </div>
        <div class="cbp-l-inline-desc">

<p>The average life cycle of a typical semiconductor device is approximately three years, which includes introduction, design-in, production, low-volume, and End-Of-Life (EOL) phases. Once a manufacturer discontinues a product and an EOL announcement is made, customers typically have 6 to 12 months to decide whether to place a last-time buy.  Planning ahead for an EOL announcement can simplify a potentially troubling procurement situation. By partnering with MIT Distributors, the life of the once-discontinued part can be extended, and the OEM can avoid forecasting last-time buys and incurring inventory storage costs.</p>

        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>