<div class="cbp-l-inline">

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            Excess Inventory Solutions

        </div>
        <div class="cbp-l-inline-subtitle">
        </div>
        <div class="cbp-l-inline-desc">

<p>All of our programs operate under the same basic premise: To help you liquidate your excess components.</p>

<p>While our programs are tailored to your individual needs, these three are typically chosen from.</p>

<ol>
<li>Cash-Out Option: We offer to buy your entire excess inventory at one set price.</li>
<li>Consignment of Excess: In certain cases, we will house your inventory at our facility and issue payment as we liquidate your excess. We will provide you with monthly statements showing which components have been sold. This alleviates the extra work required by your company. You won’t have to check stock, pack, ship, etc.</li>
<li>Management of Excess: We will list your inventory through our vast network of dealers and OEM’s. We will notify you when we have a buyer for your excess. However! This option requires that someone at your facility be able to quote, verify quantity, condition, and ship goods that we agree to purchase. All of the products will be advertised under the MIT Distributors name and shipped to our Atlanta warehouse.</li>

</ol>

        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>