<div class="cbp-l-inline">

    <div class="cbp-l-inline">
        <div class="cbp-l-inline-title">

            Parts Authentication Screening Services (PASS)

        </div>
        <div class="cbp-l-inline-subtitle">
        </div>
        <div class="cbp-l-inline-desc">

<p>All laboratory services and equipment are available regardless of where parts were procured through our Parts Authentication Screening Services. Read about it <a target="_blank" href="/assets/documents/Pass-program.pdf">here</a>, and check out <a target="_blank" href="/assets/documents/PASS-Testing-Fees-Card-USx.pdf">this card</a> for pricing – there is a 20 percent discount on parts obtained through World Micro, Inc.</p>

        </div>

        <a href="#contact" class="cbp-l-inline-view">CONTACT US</a>

    </div>
</div>