<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image002.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            VIA Technologies

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.via.com.tw/en/index.jsp" target="_blank">
                http://www.via.com.tw/en/index.jsp
            </a>

        </div>
        <div class="cbp-l-inline-desc">

VIA Technologies, Inc is the foremost fabless supplier of power efficient
x86 processor platforms that are driving system innovation in the PC, client, ultra-mobile
and embedded markets. Combining energy-saving processors with digital media
chipsets and advanced connectivity, multimedia and networking silicon enables a
broad spectrum of computing and communication platforms, including its widely
acclaimed ultra-compact mainboards.

        </div>

        <a href="#rapidquote" onclick="rapidquote('VIA Technologies'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>