<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image003.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Viking America

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.vikingamerica.com" target="_blank">
                http://www.vikingamerica.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Viking Tech was established in October 1997 at Hsin-Chu Science-Based
Industrial Park, Taiwan, as the leader in the design, manufacturing and
marketing of Thin- Film /Thick-Film integrated passive devices and discrete
passive components. Viking has quickly become one of leading manufacturers of
ultra-precision resistors, manufacturing tolerances down to 0.01% tolerance and
TCRÕs down to 5 ppm.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Viking America'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>