<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image004.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            TGS

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.tgsinc.us" target="_blank">
                http://www.tgsinc.us
            </a>

        </div>
        <div class="cbp-l-inline-desc">

TGS develops, manufactures and markets components including quartz crystals,
oscillators, ceramic &amp; SAW devices. A broad product portfolio and years of
hard work have made TGS a well-respected manufacturer in frequency control
industry. Our highly experienced engineering team, strong R&amp;D capability and
scientific QC system ensure TGS products will meet the requirements of the
international electronic market and consistently provide superior electronic
performance. The TGS brand has become a symbol of quality for customers
worldwide.

        </div>

        <a href="#rapidquote" onclick="rapidquote('TGS'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>