<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image005.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            EEMB Electronics

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.eemb.com/index.php/about-us/company-profile" target="_blank">
                http://www.eemb.com/index.php/about-us/company-profile
            </a>

        </div>
        <div class="cbp-l-inline-desc">

EEMB is specialized in the production of
Primary Lithium batteries and Rechargeable Lithium batteries since 1995. EEMB
integrates the latest technology and systematic management to constantly
improve itsÕ manufacturing system and provide state of the art products to exceed
customer expectations both in quality and price.

        </div>

        <a href="#rapidquote" onclick="rapidquote('EEMB Electronics'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>