<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image006.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Orient Display (USA) Corporation

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.orientdisplay.com" target="_blank">
                http://www.orientdisplay.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Orient Display (USA) Corporation True LCD manufacturing company based
in Shenzhen, China. Orient Display manufactures regular TFT, M3 TFT,
Intelligent TFT, various kinds of Touch Panels, Character and Graphic LCD
Modules with COB, SMT, COG and TAB technologies. Orient Display produces LCD
glass, PCB, LED backlight and liquid crystal fluid. Offering complete turnkey
solutions including plastic housings.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Orient Display (USA) Corporation'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>