<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image007.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Nikkohm Electronics

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.nikkohm.com" target="_blank">
                http://www.nikkohm.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Nikkohm Electronics since 1966 has supplied long life,
high quality and unique resistive electronic components to many famous
industries of Japan, North America and Europe. Applications include power
plants, high speed train controls, wireless base station, precision
measurements and automotive electronics.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Nikkohm Electronics'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>