<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image008.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Central Technologies

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.ctparts.com" target="_blank">
                http://www.ctparts.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Central Technologies founded in 1994, is a leading
provider of quality inductive components and industry standard magnetics to
major OEMs worldwide. Central Technologies has aggressively expanded its
product line to over 100 different seriesÕ of parts.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Central Technologies'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>