<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image009.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Barker MicroFarad, Inc.

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.bmicaps.com" target="_blank">
                http://www.bmicaps.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Barker MicroFarad, Inc. is a manufacturer of high quality,
high reliability aluminum electrolytic capacitors. They currently offer a broad
range of Axial- and Radial-leaded DC capacitors, as well as a full line of AC
Motor Start capacitors.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Barker MicroFarad, Inc.'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>