<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image010.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            MicroTips Technology

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.microtipsusa.com" target="_blank">
                http://www.microtipsusa.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

MicroTips Technology specialized in semi and full custom
monochrome and color LCD and LCD Character and Graphic Modules. All Engineering
and Sales support is based in the United States.

        </div>

        <a href="#rapidquote" onclick="rapidquote('MicroTips Technology'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>