<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image011.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Major League Electronics

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.mlelectronics.com" target="_blank">
                http://www.mlelectronics.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Major League Electronics was founded in July 1993 as a
manufacturer of passive board to board level components for the connector
industry, and capitalizing on over 30 years of experience in the connector
industry.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Major League Electronics'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>