<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image012.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Advantech Electronics

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.advantech.com.tw" target="_blank">
                http://www.advantech.com.tw
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Advantech Electronics has developed one of the largest
product offerings in the Embedded Computing world. Working with leading OEMs
worldwide, Advantech is able to provide the off-the-shelf solutions you
need.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Advantech Electronics'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>