<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add001.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            DDP

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.ddpleds.com" target="_blank">
                http://www.ddpleds.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

DDP provides customers with high-quality, ultra-reliable LED lamps and panel lights for sophisticated OEM and retrofit applications.

        </div>

        <a href="#rapidquote" onclick="rapidquote('DDP'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>