<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add002.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Evergreen

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.evergreencpusa.com" target="_blank">
                http://www.evergreencpusa.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Evergreen offers alkaline, high voltage alkaline, lithium coin and cylindrical cells, nickel cadmium, nickel metal hydride, zinc chloride, alkaline manganese button cells, silver oxide button cells, and lithium polymer for RFID applications.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Evergreen'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>