<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add003.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            GigaDevice

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.gigadevice.com" target="_blank">
                http://www.gigadevice.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

GigaDevice is a leading provider of SPI NOR and NAND flash memory products as well as ARM® Cortex™ M3 based general purpose 32-bit MCUs.

        </div>

        <a href="#rapidquote" onclick="rapidquote('GigaDevice'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>