<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add004.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Jauch

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.jauchusa.com" target="_blank">
                http://www.jauchusa.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Jauch is a specialist in frequency control products. RoHS compliant, Quartz Crystals, Automotive Crystals, Quartz Crystal Oscillators, MEMS Oscillators.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Jauch'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>