<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add005.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Mornsun

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.mornsun-power.com" target="_blank">
                http://www.mornsun-power.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Industrial power supply manufacturer, AC/DC DC/DC Converters, Isolations Amplifiers, and Communication Interface Modules.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Mornsun'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>