<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add006.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Okaya

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.okaya.com" target="_blank">
                http://www.okaya.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Okaya designs, manufactures and markets LCD, LED and Gas Plasma Displays and Electrical Noise Suppression Components.


        </div>

        <a href="#rapidquote" onclick="rapidquote('Okaya'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>