<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image007.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Quectel

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.quectel.com" target="_blank">
                http://www.quectel.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Quectel is a leading provider of M2M wireless modules - GSM/GPRS, UMTS/HSPA/HSPA+, LTE, GPS/GNSS for telematics, mobile POS, metering, security, tracking.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Quectel'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>