<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image020.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Mega Electronics

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.megaelectronics.com" target="_blank">
                http://www.megaelectronics.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Mega Electronics is a single source provider of all
components that bring power from the wall into a product. MEGA is a single
source solution provider for all your cord and cable needs.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Mega Electronics'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>