<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image021.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Raltron Electronics, Inc.

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.raltron.com" target="_blank">
                http://www.raltron.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Raltron Electronics, Inc. has grown to become one of the most
recognized and experienced manufacturers of frequency management products in
the world. From simple tuning fork crystals to high stability oven controlled
crystal oscillators, Raltron offers the most comprehensive line of frequency
management devices in the industry.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Raltron Electronics, Inc.'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>