<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image022.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            ZEUS Battery Products

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.zeusbatteryproducts.com" target="_blank">
                http://www.zeusbatteryproducts.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

ZEUS Battery Products is a highly experienced supplier of
portable energy products for Fortune 500 companies, offering a complete
selection of single use and rechargeable batteries, as well as custom battery
packs for all mobile power requirements.

        </div>

        <a href="#rapidquote" onclick="rapidquote('ZEUS Battery Products'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>