<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image023.jpg" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Diptronics Manufacturing

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.dip.com.tw/en/" target="_blank">
                http://www.dip.com.tw/en/
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Diptronics Manufacturing was founded in 1985, is a TS16949 and
ISO14001 certified manufacturer specializing in dip, tact, rotary, slide, detector,
multi-functional, and illuminated switch manufacturing. Four major production
sites were established in China since 1993.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Diptronics Manufacturing'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>