<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image024.jpg" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Wieland Electronic Products

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.wielandinc.com" target="_blank">
                http://www.wielandinc.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Wieland Electronic Products set the standards in pluggable
connection technology for building automation and automation technology. This
achievement makes us one of the technology leaders and leading innovators
worldwide. Wherever energy or signals are distributed, Wieland stands for a
green light for innovative ideas.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Wieland Electronic Products'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>