<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add008.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Samxon

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.samxon.com" target="_blank">
                http://www.samxon.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Samxon is one of the world’s top manufacturers of electrolytic capacitors. Conductive Polymer Aluminum Solid Capacitors.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Samxon'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>