<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image026.jpg" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Paralight Corp

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.para.com.tw" target="_blank">
                http://www.para.com.tw
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Paralight Corp was founded in 1987, with over twenty
years of continuous product innovation and technical development, PARA LIGHT is
now a leader in the opto-electronic components world market.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Paralight Corp'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>