<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image027.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            American Opto Plus LED Corp

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.aopled.com" target="_blank">
                http://www.aopled.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

American Opto Plus LED Corp was founded in 1973; Opto Plus
Technology is an ISO 9002 certified leading manufacturer of LED Lamps,
Displays, SMD Lamps, and many other LED-related products.

        </div>

        <a href="#rapidquote" onclick="rapidquote('American Opto Plus LED Corp'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>