<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image028.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Arbor Technologies

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.arbor.com.tw" target="_blank">
                http://www.arbor.com.tw
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Arbor Technology solutions have been successfully
applied into the fields of transportation, e-Service, medical, manufacturing
automation, telecommunication, networking, information system and military.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Arbor Technologies'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>