<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add009.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Vacuumschmelze

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.vacuumschmelze.com" target="_blank">
                http://www.vacuumschmelze.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Vacuumschmelze provides high quality crystalline NiFe cores, current transformers, chokes, XDSL, current sensors and rare earth magnets.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Vacuumschmelze'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>