<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image030.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Tekmos Electronics

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.tekmos.com" target="_blank">
                http://www.tekmos.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Tekmos Electronics has significant expertise in
transforming devices made in older CMOS processes to newer processes while
maintaining true compatibility.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Tekmos Electronics'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>