<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image031.jpg" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            CoolTron

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.cooltron.com/English/index.asp" target="_blank">
                http://www.cooltron.com/English/index.asp
            </a>

        </div>
        <div class="cbp-l-inline-desc">

CoolTron popular cooling products are
tube-axial industrial cooling fans, blowers, fan accessories, and heat-sinks.

        </div>

        <a href="#rapidquote" onclick="rapidquote('CoolTron'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>