<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/add010.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Wall Industries

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://www.wallindustries.com" target="_blank">
                http://www.wallindustries.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Wall Industries manufactures and markets a full line of DC/DC converters and AC/DC power supplies.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Wall Industries'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>