<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-misc-image">

            <img src="/assets/images/products/image033.png" alt="">

        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">

            Fremont Micro Devices

        </div>
        <div class="cbp-l-inline-subtitle">

            <a href="http://fremontmicrousa.com" target="_blank">
                http://fremontmicrousa.com
            </a>

        </div>
        <div class="cbp-l-inline-desc">

Fremont Micro Devices is a fabless semiconductor supplier
and integrated circuit design house. It has quickly become a leader in
non-volatile memory products and high efficiency power management solutions.
FMD was founded in Fremont, California in 2003 and has offices in the United
States, Europe and China.

        </div>

        <a href="#rapidquote" onclick="rapidquote('Fremont Micro Devices'); return false;"
            class="fancybox cbp-l-inline-view">RAPID QUOTE</a>

    </div>
</div>